* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: auto;
}

body {
    width: 100%;
    height: 90.5%;
}

body > header {
    display: flex;
    height: 12%;
    width: 100%;
    background-color: #e24510;
    color: #faebd7;
}
body > header > h1{
    display: flex;
    width: 100%;
    background-color: #e24510;
    color: #faebd7;
    align-items: center;
    flex-direction: row-reverse;
    padding-right: 30px;
}
header .back-btn{
    display: flex;
    border: 3px solid #171717;
    background-color: #faebd7;
    color: #e24510;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    flex-basis: 7%;
    margin-left: 5px;
    font-size: 16pt;
}
body > footer {
    width: 100%;
    height: 10.5%;
    background-color: #171717;
    color:  #faebd7;
}

main {
    height: 88%;
}
.container-1{
    height: 88%;
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
    padding-top: 70px;
}
.row-1{
    display: flex;
    justify-content: center;
}
.row-1 #box-1{
    order: 1;
    display: flex;
    background-color: rgb(102, 102, 153);
    min-width: 16em;
    /* zorgt ervoor dat er nooit meer dan 4 tegels staan */
    height: 25%;
    margin: 0.5%;
    justify-content: center;
    align-items: center;
    color: white;
    
}
.row-1 #box-2{
    order: 2;
    display: flex;
    background-color: rgb(102, 102, 153);
    min-width: 16em;
    /* zorgt ervoor dat er nooit meer dan 4 tegels staan */
    height: 25%;
    margin: 0.5%;
    justify-content: center;
    align-items: center;
    color: white;
}
.row-1 #box-3{
    order: 3;
    display: flex;
    background-color: rgb(102, 102, 153);
    height: 25%;
    margin: 0.5%;
    justify-content: center;
    align-items: center;
    color: white;
    flex: 0.51;
}
.row-2{
    display: flex;
    justify-content: center;
}
.row-2 #box-4{
    order: 1;
    display: flex;
    background-color: rgb(102, 102, 153);
    min-width: 16em;
    /* zorgt ervoor dat er nooit meer dan 4 tegels staan */
    height: 25%;
    margin: 0.5%;
    justify-content: center;
    align-items: center;
    color: white;
}
.row-2 #box-5{
    order: 2;
    display: flex;
    background-color: rgb(102, 102, 153);
    min-width: 16em;
    /* zorgt ervoor dat er nooit meer dan 4 tegels staan */
    height: 25%;
    margin: 0.5%;
    justify-content: center;
    align-items: center;
    color: white;
}
.row-2 #box-6{
    order: 3;
    display: flex;
    background-color: rgb(102, 102, 153);
    min-width: 16em;
    /* zorgt ervoor dat er nooit meer dan 4 tegels staan */
    height: 25%;
    margin: 0.5%;
    justify-content: center;
    align-items: center;
    color: white;
}
.row-2 #box-7{
    order: 4;
    display: flex;
    background-color: rgb(102, 102, 153);
    min-width: 16em;
    /* zorgt ervoor dat er nooit meer dan 4 tegels staan */
    height: 25%;
    margin: 0.5%;
    justify-content: center;
    align-items: center;
    color: white;
    
}
.row-3{
    display: flex;
    justify-content: center;
}
.row-3 #box-8{
    order: 1;
    display: flex;
    background-color: rgb(102, 102, 153);
    min-width: 16em;
    /* zorgt ervoor dat er nooit meer dan 4 tegels staan */
    height: 25%;
    margin: 0.5%;
    justify-content: center;
    align-items: center;
    color: white;
}
.row-3 #box-9{
    order: 2;
    display: flex;
    background-color: rgb(102, 102, 153);
    min-width: 16em;
    /* zorgt ervoor dat er nooit meer dan 4 tegels staan */
    height: 25%;
    margin: 0.5%;
    justify-content: center;
    align-items: center;
    color: white;
}
.row-3 #box-10{
    order: 3;
    display: flex;
    background-color: rgb(102, 102, 153);
    min-width: 16em;
    /* zorgt ervoor dat er nooit meer dan 4 tegels staan */
    height: 25%;
    margin: 0.5%;
    justify-content: center;
    align-items: center;
    color: white;
}
.row-3 #box-11{
    order: 4;
    display: flex;
    background-color: rgb(102, 102, 153);
    min-width: 16em;
    height: 25%;
    margin: 0.5%;
    justify-content: center;
    align-items: center;
    color: white;
}
#admin{
    color: red;
}
#admin:hover{
    color:white;
}
a:link{
    text-decoration: none;
}
.container-index-model{
    display: flex;
    padding-top: 10px;
    justify-items: center;
    justify-content: space-around;
    width: 100%;
}
.index-column-0{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
}
.index-row-1{
    display: flex;
    order: 1;
    flex-basis: 12%;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 15px;
    margin: 0px 0px 0px 10px;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 22pt;
}

.index-row-2{
    display: flex;
    order: 2;
    margin: 10px;
    border: 3px solid black;
    border-radius: 10px;
    flex-basis: 82%;
}
.index-row-2 form{
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}
.index-row-2 form .details-info{
    display: flex;
    flex-basis: 10%;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}
.form-fields{
    display: flex;
    flex-basis: 30%;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
}

.form-fields-event{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-basis: 5%;
}
.form-fields-event label{
    display: flex;
    flex-basis: 20%;
    font-size: 14pt;
}
.form-fields-event input,textarea{
    display: flex;
    flex-basis: 35%;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0px 5px 0px 5px;
    text-align: center;
    font-size: 12pt;
}

.form-fields label{
    margin: 0px 50px 0px 50px;
    font-size: 18pt;
}
.form-fields input{
    margin: 0px 50px 0px 50px;
    width: 30em;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0px 5px 0px 5px;
    font-size: 12pt;
}

.submit-field{
    display: flex;
    flex-basis: 7%;

}
.submit-field button{
    width: 70em;
}
.index-column-1{
    display: flex;
    flex-basis: 30%;
    
    justify-content: space-evenly;
    margin-right: 5%;
}

.model-name{
    display: flex;
}
.btn{
    display: flex;
    flex-direction: row;
}
.btn > div{
    display: flex;
    border: 3px solid #171717;
    background-color: #e24510;
    color: #faebd7;
    border-radius: 5px;
    padding: 16px;
}
table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
thead{
    background-color: #e24510;
    color: #faebd7
}
table,th, td{
    border: 1px solid black;

}
th,td{
    height: 30px;
}
tbody tr:nth-child(odd){
    background-color: lightgray;
}