html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 64px;
}
.links{
    position: relative;
    top: 100px;
}
.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
footer{
    position: relative;
    width: 300px;
    top: 50%;
    left:42%;
}
#back-btn{
    color: red;
}
.table-index{
    margin-left: 420px;
    margin-top: 50px;
    color: black;
}
.table-index table tr th, td {
    padding: 0px 20px 5px 20px;
}
